<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <p>Hello</p>
<!--    <p th:text="${astartesDtos}">astartesDtos</p>-->
</body>
</html>